<app-menu></app-menu>
<style>
.centeralign{text-align:center}
</style>

<h2>Details for {{user.firstname}}</h2>

<table>
<tr>
    <td>Username:</td>
    <td>{{user.username}}</td>
</tr>
<tr>
    <td>Full name:</td>
    <td>{{user.firstname}} {{user.lastname}} </td>
</tr>
<tr>
    <td>Phone number:</td>
    <td>{{user.phone}}</td>
</tr>
<tr>
    <td>Email:</td>
    <td>{{user.email}}</td>
</tr>
<tr>
    <td>Reviewer:</td>
    <td>{{user.isReviewer}}</td>
</tr>
<tr>
    <td>Administrator:</td>
    <td>{{user.isAdmin}}</td>
</tr>
</table>





